<head>
    <script src="scripts/application.js"></script>
</head>

<div class="container">
    <div ng-controller="FormController">
        <div class="text-center" ng-if="login"><a href="/api/discordauth/login" class="btn btn-primary btn-lg" role="button">Login With Discord</a><br></br></div>
        <div class="jumbotron text-center">
            <img src="images/Dank_KEK_Logo.png" width="250"></img>
            <h1>KEK Application</h1>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="login">Please login with Discord to apply.</div>
        <div class="alert alert-success" role="alert" ng-if="accepted">Congratualtion! Your are a member of KEK.</div>
        <div class="alert alert-warning" role="alert" ng-if="editted">Edits to you application were saved. Press submit to apply edits.</div>
        <div class="alert alert-info" role="alert" ng-if="saved">Your application was saved. Press submit to apply.</div>
        <div class="alert alert-info" role="alert" ng-if="submitted">Well done! Your application was submitted. You will be contact in-game or on discord.</div>
        <div id="recruitment-form" class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form>
                    <div class="form-group">
                        <h4>What is your name and your GW2 ingame name (Example.1234)?</h4>
                        <input type="text" class="form-control input-lg text-left" ng-disabled="disableform" ng-model="formData.gw2name">
                        <h4>We raid Sun/Mon/Weds 9:30 EST, are you available all these times?</h4>
                        <input type="text" class="form-control input-lg text-left" ng-disabled="disableform" ng-model="formData.attendance">
                        <h4>Will you actively use your mic to contribute to the guild during raids and other times?</h4>
                        <input type="text" class="form-control input-lg text-left" ng-disabled="disableform" ng-model="formData.mic">
                        <h4>What is/are your main classes?</h4>
                        <input type="text" class="form-control input-lg text-left" ng-disabled="disableform" ng-model="formData.class">
                        <h4>What is your prior experience in wvw guilds?</h4>
                        <textarea class="form-control input-lg text-left" rows="4" cols="50" ng-disabled="disableform" ng-model="formData.experience"></textarea>
                        <h4>Show us the build you are currently running in WvW. Fill out this editor (<a href="http://en.gw2skills.net/editor/">http://en.gw2skills.net/editor/</a>)
                            and link the gear / traits you are currently using below.</h4>
                        <textarea class="form-control input-lg text-left" rows="4" cols="50" ng-disabled="disableform" ng-model="formData.build"></textarea>
                        <h4>Do you have footage/can you record?</h4>
                        <textarea class="form-control input-lg text-left" rows="4" cols="50" ng-disabled="disableform" ng-model="formData.record"></textarea>
                        <h4>What's your capacity right now?</h4>
                        <input type="text" class="form-control input-lg text-left" ng-disabled="disableform" ng-model="formData.capacity">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="disableform" ng-click="save()">Save</button>
                        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="disableform" ng-click="submit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>